.main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.page {
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    width: 250px;
    transition: left 0.3s;
}
.page.show{
    left: -5px;
}
.page{
    left: -250px;
}

/* student */
.pages {
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    width: 250px;
    transition: left 0.3s;
}
.pages.come{
    left: -5px;
}
.pages{
    left: -250px;
}
.route {
    flex: 1;
    background-color: #f8f9fa; 
    padding: 20px;
    overflow-y: auto;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .main{
        position: relative;
        display: flex;
    }
    .page, .pages {
        position: absolute;
        z-index: 100;
        height: 100%;  
    }
    .page.show, .pages.come{
        left: -250px;
    }
    .page, .pages{
        left: 0;
    }
}
