
.container {
    width:100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}
h1 span{
    font-weight: bold;
}

/* Question styles */
.question-card {
    background: #f8f9fa;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e9ecef;
}

.question-card p {
    font-size: 18px;
    font-weight: bold;
    color: #495057;
}

.question-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question-card li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.question-card li span {
    font-size: 16px;
    color: #6c757d;
    margin-right: 10px;
}

.question-card li h6 {
    font-size: 16px;
    color: #495057;
    margin-top: -10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
        overflow-x: scroll;
    }
    
    .question-card {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .question-card p {
        font-size: 16px;
    }

    .question-card li span,
    .question-card li h6 {
        font-size: 14px;
    }
}
